body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #9A9797;
}
.conteiner{
  display: grid;
  grid-auto-rows: 60px 20px 200px 10px 1fr 10px 30px;
  grid-template-areas:
  "header"
  "."
  "bio"
  "."
  "catalog"
  "."
  "date_create";
}
.header_block{
  grid-area: header;
}
.header_site{
  background: #C1BFBF;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 0.50rem;
  border: 1px solid #000000;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  display: grid;
  grid-template-columns: 120px 200px 1fr 50px 50px 50px;
  grid-template-rows: 5px 1fr 5px;
  grid-template-areas:
    ". . . . . ."
    "logo searchstr . btn1 btn2 btn3"
    ". . . . . .";
}
.logo{
  grid-area: logo;
  margin-left: 20px;
}
.search_str{
  grid-area: searchstr;
  margin-top: 10px;
}
.btn1{
  grid-area: btn1;
  position: relative;
}
.dropdown_menu {
  border: 1px solid #000000;
  background-color: rgba(168, 58, 58, 0.8);
  padding: 10px;
  direction: rtl;
  position: absolute;
  right: 0;
  border-radius: 0.50rem;
}
.dropdown_menu li {
  border-bottom: 1px solid #000000;
  text-align: right;
}
.dropdown_menu li:last-child {
  border-bottom: none;
}
.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown_menu li a {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}

.btn2{
  grid-area: btn2;
}
.btn3{
  grid-area: btn3;
}
.btns{
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0.15rem 0.15rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #A83A3A;
  border: 1px solid #000000;
  background-clip: padding-box;
  border-radius: 0.50rem;
  align-self: center;
}
.input_style {
  display: block;
  width: 200px;
  height: 30px;
  padding: 0.35rem 0.8rem;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #D9D9D9;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.50rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bio{
  grid-area: bio;
  display: grid;
  grid-template-columns: 30px 150px 50px 1fr 30px 200px 30px;
  grid-template-areas:
  ". avatar . info . btns_acc ."
}
.avatar{
  grid-area: avatar;
}
.avatar_img{
  border: 2px solid #000000;
  border-radius: 0.50rem;
}
.info{
  grid-area: info;
  display: grid;
  grid-template-rows: 30px 10px 30px 10px 120px;
  grid-template-areas:
  "nickname"
  "."
  "status"
  "."
  "biography";
}
.nickname{
  grid-area: nickname;
}
.status{
  grid-area: status;

}
.biography{
  grid-area: biography;
}
.btns_acc{
  grid-area: btns_acc;
  display: grid;
  grid-template-rows: 30px 10px 30px 20px 30px 10px 30px;
  grid-template-areas:
  "log"
  "."
  "edit"
  "."
  "link1"
  "."
  "link2";
}
.log{
  grid-area: log;
  background-color: #A83A3A;
}
.edit{
  grid-area: edit;
  background-color: #6D6D6D;
}
.btn_acc{
  border: 1px solid #000000;
  border-radius: 0.50rem;
  width: 150px;
  margin-left: auto;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.link1{
  grid-area: link1;
  border: 1px solid #000000;
  border-radius: 0.50rem;
  width: 100%;
}
.link2{
  grid-area: link2;
  border: 1px solid #000000;
  border-radius: 0.50rem;
  width: 100%;
}
.catalog{
  grid-area: catalog;
}
.header_catalog{
  background-color: #6D6D6D;
  border: 1px solid #000000;
  border-radius: 0.50rem;
  width: 100%;
}
.date_create{
  grid-area: date_create;
}
a{
  color: black;
}

