body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #9A9797;
}
.content{
  display: grid;
  grid-template-columns: 1fr 50px 400px 50px 1fr;
  grid-template-rows: 1fr 300px 320px 50px 30px 1fr;
  grid-template-areas:
    ". . . . ."
    ". . image . ."
    ". input input input ."
    ". . button . ."
    ". text text text ."
    ". . . . .";
}
.imgformat {
  margin: auto;
  grid-area: image;
  width: 400px;
  height: 250px;
}
.form_input{
  grid-area: input;
}
.input_style {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0.35rem 0.8rem;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #D9D9D9;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.50rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1em;
}
.form_btn{
  grid-area: button;
}
.btn_one{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #A83A3A;
  border: 1px solid #000000;
  background-clip: padding-box;
  border-radius: 0.50rem;
  align-self: center;
}
.text{
  grid-area: text;
}
p{
  background-color: #D9D9D9;
  border: 1px solid #817E7E;
  background-clip: padding-box;
  border-radius: 0.50rem;
}
